@import url("fonts.css");

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

body {
    background-color: rgb(14, 14, 14);
    font-family: "Futura PT Book", serif;
    overflow-x: hidden;
    height: 3000px;
    animation: load 2.5s linear forwards;
}

header {
    display: flex;
    justify-content: center;
}

header nav {
    border: #98989852 1px solid;
    margin-top: 20px;
    padding: 15px;
    border-radius: 50px;
    position: fixed;
    backdrop-filter: blur(3px);
    background-color: #4d4d4d6d;
    z-index: 1000;
}

header a {
    color: #fff;
    font-size: 24px;
    margin: 0 15px;
    letter-spacing: 1.2px;
    transition: 0.4s;
    text-decoration: none;
}

header a:hover {
    color: #cacaca;
}

header nav {
    padding: 10px;
}

@keyframes load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

section {
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.section__1 {
    background-image: url("img/backgroundpage1.1_00000.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text-fixed {
    position: fixed;
    text-align: center;
}

.section__1 h1,
.section__1 p {
    color: #c7c7c7;
    margin: 5px 0;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 1));
}

.section__1 h1,
.hello h1 {
    background: linear-gradient(45deg, rgb(208, 206, 206) 0%, rgb(125, 125, 125) 105%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 86px;
    letter-spacing: 2px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
}

.section__1 p {
    font-size: 28px;
    letter-spacing: 2px;
}

.section__1 a {
    position: relative;
    top: 135px;
    background: linear-gradient(190deg, rgb(208, 206, 206) 0%, rgb(125, 125, 125) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    scale: 4;
    transition: all 0.3s;
}

.section__2 {
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1.3s;
    position: relative;
    bottom: 50%;
}

/* НАЧАЛО ТАЙМЛИНИИ */

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1150px;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
    opacity: 0;
    transition: .5s;
    transform: translateY(100px);
}

.showblock {
    transform: translateY(0);
    opacity: 1;
}

.content img {
    width: 550px;
    height: 380px;
    position: relative;
    top: 10px;
    right: 60px;
    border-radius: 25px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content img.odd {
    width: 550px;
    height: 380px;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 25px;
}

.timeline ul li:nth-child(odd)::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 24px;
    right: -16px;
    background: #5872e9;
    border-radius: 50%;
    animation: points 1.45s ease infinite;
}

.timeline ul li:nth-child(odd)::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 24px;
    right: -16px;
    background: #5872e9;
    border-radius: 50%;
}

.timeline ul li:nth-child(even)::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 24px;
    left: -14px;
    background: #5872e9;
    border-radius: 50%;
    animation: points 1.45s ease infinite;
}

.timeline ul li:nth-child(even)::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 24px;
    left: -14px;
    background: #5872e9;
    border-radius: 50%;
}

@keyframes points {
    0% {
        transform: scale(1);
        opacity: 0.85;
    }

    100% {
        transform: scale(2.25);
        opacity: 0;
    }
}

.timeline ul li h3 {
    padding: 0;
    margin: 0;
    color: #5872e9;
    font-weight: 600;
    font-size: 62px;
    display: inline-block;
    transition: 0.4s;
}

.timeline ul li h3:hover {
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: 600;
    font-size: 62px;
    display: inline-block;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 24px;
    background: linear-gradient(290deg, rgb(208, 206, 206) 0%, rgb(125, 125, 125) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: justify;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #5872e9;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(33, 60, 233, 0.4);
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #5872e9;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(33, 60, 233, 0.4);
}

/* КОНЕЦ ТАЙМЛИНИИ */

.text__container {
    width: 1000px;
    margin-bottom: 150px;
}

.right {
    float: right;
    text-align: justify;
}

.right h1 {
    text-align: right;
}

.text__container h1 {
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}

.text__container p {
    font-size: 27px;
    color: #b0b0b0;
    text-indent: 30px;
    text-align: justify;
    line-height: 35px;
}

.text__container p::first-letter {
    font-size: 62px;
    color: #fff;
    text-transform: uppercase;
}

/* POPUP POPUP POPUP POPUP POPUP */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.63);
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
    z-index: 112;
}

.popup__content {
    width: 1200px;
    min-height: 800px;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.popup__content img {
    width: 1200px;
    height: 800px;
    border-radius: 30px;
}

.popup__caption {
    width: 100%;
    padding: 10px 15px;
    font-size: 22px;
    text-align: center;
}

.show {
    opacity: 1;
    visibility: visible;
}

/*FOOOOOOOOTER*/
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 22px;
    color: #8888881e;
    margin: 20px 0;
}